:root {
  --bluesoft: #161d24;
  --blue: #3498db;
  --purplesoft: #9b59b6;
  --navy: #001f3f;
  --darkgrey: #afa9a9;
  --darkgrey2: #d0d2d3;
  --grey: #dfdcdc;
  --purple: #8e44ad;
  --green: #2ecc71;
  --white: #fff;
  --fwbold: 700;
  --fwextrabold: 800;
  --fwsemibold: 600;
  --fwmedium: 500;
  --fwregular: 400;
  --fwlight: 300;
  --body : #F6F6F6;
}

@media (max-width: 700px){
  
}

h3{
  margin-bottom: 0px !important;
  margin-top: 8px !important;
  line-height: 20px !important;

}
body {
    background: #ececec !important;
    font-family: "Poppins", sans-serif;
}

.big-header {
  font-weight: var(--fwextrabold);
  color: var(--navy);
  font-size: 48px;
  margin: 0;
}

.medium-header {
  font-weight: var(--fwbold);
  color: var(--navy);
  font-size: 28px;
  margin: 0;
}

.small-header {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fwmedium);
  color: #121212;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.text-button {
  text-decoration: none;
  color: var(--blue);
}

.text-button:hover {
  text-decoration: underline;
  color: var(--navy);
}

.primary-copy {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* button class */
.btn-primary {
  padding: 12px 20px 12px 20px;
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fwsemibold);
  border-radius: 50px;
  border: 0;
}
.btn-primary:hover {
  background: var(--navy);
  color: var(--white);
}
.button-danger {
  padding: 12px 20px 12px 20px;
  background: #f04242;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fwmedium);
  border-radius: 50px;
  border: 0;
}
.button-danger:hover {
  background: var(--navy);
  color: var(--white) !important;
}

.small-btn-primary {
  width: 50px;
  height: 30px;
  border-radius: 6px;
  background: #728ef2;
}
.small-btn-primary:hover {
  background: var(--navy);
  color: var(--white);
}

.small-btn-danger {
  width: 50px;
  height: 30px;
  border-radius: 6px;
  background: #f04242;
}

/* padding / margin */
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}

.pt-70 {
  padding-top: 70px;
}
.form-select .mx-30 {
  width: 100px;
  height: 50px;
}

.wrap-bar{
    padding: 0px !important;
}

/* sidebar */
.barsamping {
    
  background: white;
  box-shadow: 14px -2px 50px -27px rgba(0,0,0,0.75);
-webkit-box-shadow: 14px -2px 50px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 14px -2px 50px -27px rgba(0,0,0,0.75);

}

.barsamping .list {
  width: 100%;
  color: #000;
  gap: 1rem;
  transition: all 0.3s ease;
  margin-left: 20px;
  text-decoration: none;
  height: 2rem;
}

/* .barsamping a.active{
    width: 100%;
    color: var(--bluesoft);
    background-color: #001f3f;
    margin-left: 0;
}
.barsamping a.active::before{
    content: '';
    width: 10px;
    height: 20px;
    background-color: var(--grey);

}

.barsamping a.active span{
    color: white;
    margin-left: calc(1rem - 3rem);

} */

.barsamping .list:hover {
  color: var(--blue);
  padding: 30px 20px 30px 20px;
  background: #e8e8e8;
  border-radius: 24.5px;
  margin-left: 10px;
}

/* offcanvas sidebar */
.navbar .offcanvas .offcanvas-body a {
  text-decoration: none;
  color: #000;
}
.navbar .offcanvas .offcanvas-body a:hover {
  text-decoration: none;
  background: var(--navy);
  border-radius: 24.5px;
  color: #dfdcdc;
}

/* Searching */

.nav {
  position: fixed !important;
  z-index: 999;
  width: 80%;
  margin: 0 auto !important;
  height: 83px;
  border-radius: 41px;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
  right:30px !important;
  top: 20px !important;
}

@media (max-width: 1200px){
  .nav {
    position: fixed !important;
    z-index: 999;
    width: 70%;
    margin: 0 auto !important;
    height: 83px;
    border-radius: 41px;
    border: 1px solid #000;
    background-color: white;
    text-align: center;
    right:30px !important;
    top: 30px !important;
  }
  
}

.grafik{
  margin-top: -100px;
}
@media (max-width: 1200px){
  .grafik{
    margin-top: 100px !important;
  }
}


.profile-image {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  border: 3px solid #DBDBDB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nav a{
  text-decoration: none;
  color: #000;
}


/* .kartu-grafik {
  margin-top: 10px !important;
} */


/* Card */
.grafik .kartu-grafik .card {
  padding-left: 15px;
  padding-right: 15px;
}

/* .grafik .kartu-grafik .card img {
   
} */

/* Data Tables Button */
.Data_Tables .btn-primary {
  width: 122px;
  height: 34px;
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fwsemibold);
  border-radius: 50px;
  border: 0;
}
.Data_Tables .btn-primary:hover {
  background: var(--navy);
  color: var(--white);
}
.Data_Tables .btn-danger {
  width: 122px;
  height: 34px;
  background: #f04242;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fwmedium);
  border-radius: 50px;
  border: 0;
}
.Data_Tables .btn-danger:hover {
  background: var(--navy);
  color: var(--white) !important;
}

.Data_Tables .small-btn-primary {
  padding-top: 3px;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  background: #728ef2;
  color: white;
}
.Data_Tables .small-btn-primary:hover {
  background: var(--navy);
  color: var(--white);
}

.Data_Tables .small-btn-danger {
  padding-top: 3px;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  background: #f04242;
}

.Data_Tables .small-btn-danger:hover {
  background: var(--navy);
  color: var(--white);
}




