:root {
    --bluesoft: #161d24;
    --blue: #3498db;
    --purplesoft: #9b59b6;
    --navy: #001f3f;
    --darkgrey: #afa9a9;
    --darkgrey2: #d0d2d3;
    --grey: #dfdcdc;
    --purple: #8e44ad;
    --green: #2ecc71;
    --white: #fff;
    --fwbold: 700;
    --fwextrabold: 800;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
    --body : #F6F6F6;
  }
  
  @media (max-width: 700px){
    
  }
  
  h3{
    margin-bottom: 0px !important;
    margin-top: 8px !important;
    line-height: 20px !important;
  
  }
  body {
      background: #ececec !important;
      font-family: "Poppins", sans-serif;
  }
  
  .big-header {
    font-weight: var(--fwextrabold);
    color: var(--navy);
    font-size: 48px;
    margin: 0;
  }
  
  .medium-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
    margin: 0;
  }
  
  .small-header {
    font-family: "Poppins", sans-serif;
    font-weight: var(--fwmedium);
    color: #121212;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
  }
  
  .text-button {
    text-decoration: none;
    color: var(--blue);
  }
  
  .text-button:hover {
    text-decoration: underline;
    color: var(--navy);
  }
  
  .primary-copy {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  /* button class */
  .btn-primary {
    padding: 12px 20px 12px 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fwsemibold);
    border-radius: 50px;
    border: 0;
  }
  .btn-primary:hover {
    background: var(--navy);
    color: var(--white);
  }
  .button-danger {
    padding: 12px 20px 12px 20px;
    background: #f04242;
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fwmedium);
    border-radius: 50px;
    border: 0;
  }
  .button-danger:hover {
    background: var(--navy);
    color: var(--white) !important;
  }
  
  .small-btn-primary {
    width: 50px;
    height: 30px;
    border-radius: 6px;
    background: #728ef2;
  }
  .small-btn-primary:hover {
    background: var(--navy);
    color: var(--white);
  }
  
  .small-btn-danger {
    width: 50px;
    height: 30px;
    border-radius: 6px;
    background: #f04242;
  }
  
  /* padding / margin */
  .pt-20 {
    padding-top: 20px !important;
  }
  .pt-30 {
    padding-top: 30px;
  }
  
  .pt-70 {
    padding-top: 70px;
  }
  .form-select .mx-30 {
    width: 100px;
    height: 50px;
  }

  /* --------------------------------------------------- */

  
  .search .input-group {
    width: 301px !important;
    height: 50px !important;
   
}

.search .input-group input {
    height: 50px !important;
    flex-shrink: 0;
    border-radius: 28.5px;
    border: 1px solid #121221;
    border-right: none;
}

.search .input-group span {
    width: 50px;
    height: 50px;
    border-radius: 28.5px;
    border: 1px solid #121221;
    border-left: none;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer;  */
}


/* search sidebar */
#search-form {
  display: none;
}


.navbar .search-sidebar input{
  width: 200px;
  height: 40px !important;
  flex-shrink: 0;
  border-radius: 28.5px;
  border: 1px solid #121221;
 
}

