/* sidebar */

.barsamping {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 210px !important;
  height: 100%;
  background: white;
  box-shadow: 14px -2px 50px -27px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 14px -2px 50px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px -2px 50px -27px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease;
  padding-right: 2rem !important;
  margin-left: -10px !important;
  z-index: 999 !important;
}

/* .barsamping:hover{
  box-shadow: none;
} */




.barsamping .list {
  display: flex;
  align-items: center !important;
  
  color: #000;
  gap: 5px;
  position: relative;
  transition: all 0.5s ease;
  text-decoration: none;
  height: 2rem;
  font-size: 14px;
  width: 130% !important;
  padding-left: 10px;
  border-radius: 5px;
}
  


.barsamping .list:hover::before {
  content: '';
  width: 3px;
  height: 25px;
  background-color: var(--blue);
}

.barsamping .list:hover {
  min-width: 140% !important;
  /* color: var(--blue); */
  /* border-radius: 24.5px; */
  background: #E8E8E8;
  padding: 20px 10px 20px 0px;
  margin-left: 0px;
  padding-left: 5px !important;
}




.barsamping a.active {
 
  color: var(--blue) !important;
  background: #f1f1f1 !important;
  margin-left: 0;
  padding-right: 35px;
  /* padding-left: 5px !important;
    border-radius: 5px; */
    width: 140% !important;
}

/* .barsamping a.active::before{
    content: '';
    width: 5px;
    height: 35px;
    background-color: var(--blue);
    margin-left: 3px;
} */


.barsamping a.active:hover {
  padding: 20px 10px 20px 0px;
  margin-left: 0px;
  padding-right: 10px;
  background: #e8e8e8 !important;
}



/* .barsamping a.hover span{
  margin-left: 20px !important;
} */


/* offcanvas sidebar */
.navbar .offcanvas .offcanvas-body a {
  width: max-content;
  text-decoration: none;
  color: #000;
}

.navbar .offcanvas .offcanvas-body a:hover {
  text-decoration: none;
  border-radius: 10px;
  color: var(--blue);
  background: #e8e8e8;

}