
/* --------------------------- */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .col-lg-4,
  .col-md-6,
  .col-sm-8,
  .col-xs-12 {
    margin: auto;
  }

  .card {
    width: 100%;
    max-width: 400px; /* Atur lebar maksimum sesuai kebutuhan Anda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 24px;
    box-sizing: border-box;
  }

  .card-top img {
    width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
  }
  /* .card-text a {
text-decoration: none;
color: #000;

  }
  .card-text a:hover {
    color: var(--blue);
    
      } */



  .form-group {
    width: 100%;
    margin-bottom: 16px;

  }
  .username{
    padding-top: 20px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .forgot-password a{
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }

  .forgot-password a:hover {
    text-decoration: underline;
  }