/* ------------------------------------------------------ */
.barsamping-kanan {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow:auto;
    right: 0;
    height: 100%;
    background: white;
    box-shadow: -14px -2px 50px -27px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: -14px -2px 50px -27px rgba(0, 0, 0, 0.75);
-moz-box-shadow: -14px -2px 50px -27px rgba(0, 0, 0, 0.75);
    padding-right: 2rem !important;
    margin-left: -20px !important;
  }

.col-barsamping-kanan{
    padding: 0 !important;
    
}

  @media (max-width: 1200px) {
    .col-barsamping-kanan {
width: 220px !important;    
  }
  }
  
  @media (max-width: 1200px) {
    .barsamping-kanan {
width: 220px !important;    
  }
  }



.keranjang-pesanan {
    margin: auto !important;
}


.keranjang-pesanan .shopping-cart .cart-item {
    margin: 2px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    gap: 0.5rem;
    color: #000;
    padding-bottom: 5px;
   margin-bottom: 5px !important;
}

.keranjang-pesanan .shopping-cart img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
}

.keranjang-pesanan .shopping-cart .item-details .nama-item {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.keranjang-pesanan .shopping-cart .item-details .harga-item {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.keranjang-pesanan .shopping-cart .btn{
   
    width: 209px;
    height: 49px;
    border-radius: 7px;
background: #728EF2;
}
.keranjang-pesanan .shopping-cart .btn:hover{
   
background: var(--blue);
}
.keranjang-pesanan .shopping-cart .btn-sm {
    width: 22.905px;
height: 22.905px;
    color: #000;
    background-color: var(--grey);
}

.keranjang-pesanan .shopping-cart .btn-sm:hover {
    background-color: var(--danger);
    color: white;
}

/* .keranjang-pesanan .shopping-cart .btn-tambah {
    width: 10px !important;
    height: 22.905px;
    color: #000;
    background-color: var(--grey);
}

.keranjang-pesanan .shopping-cart .btn-tambah:hover {
    background-color: var(--blue);
    color: white;
} */



/* Cart MD */

