/* ------------------------------------------------------ */


.keranjang-pesanan {
    right: -100rem !important;
    width: 280px !important;
    background: #fff;
    padding: 0 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* z-index: 9999; */
    display: none;
    transition: all 0.5s linear;
    /* opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; */

}

@media(max-width:1300px) {
    #offcanvasRight {
        display: none !important;
    }
}

.keranjang-pesanan.active {
    right: -1rem !important;
    padding-right: 1.6rem !important;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 14px -2px 25px 5px rgba(0, 0, 0, 0.75);


}

.keranjang-pesanan .offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    text-align: center;

}

.keranjang-pesanan .shopping-cart {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin-top: -50px !important;
    margin-bottom: -140px !important;
}

.keranjang-pesanan .shopping-cart .cart-item {
    margin: 2px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    gap: 0.5rem;
    color: #000;
    padding-bottom: 5px;

}

.keranjang-pesanan .shopping-cart img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
}

.keranjang-pesanan .shopping-cart .item-details .nama-item {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.keranjang-pesanan .shopping-cart .item-details .harga-item {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.keranjang-pesanan .shopping-cart .btn{
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* padding-left: 8.7px !important; */
    
}
.keranjang-pesanan .shopping-cart .btn-kurang {
    width: 22.905px;
    height: 22.905px;
    color: #000;
    background-color: var(--grey);
}

.keranjang-pesanan .shopping-cart .btn-kurang:hover {
    background-color: var(--danger);
    color: white;
}

.keranjang-pesanan .shopping-cart .btn-tambah {
    width: 22.905px;
    height: 22.905px;
    color: #000;
    background-color: var(--grey);
}

.keranjang-pesanan .shopping-cart .btn-tambah:hover {
    background-color: var(--blue);
    color: white;
}

.keranjang-pesanan .offcanvas-body .jumlah-harga {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 150px !important;
    padding-bottom: 20px !important;
}