:root {
    --bluesoft: #161d24;
    --blue: #3498db;
    --purplesoft: #9b59b6;
    --navy: #001f3f;
    --darkgrey: #afa9a9;
    --darkgrey2: #d0d2d3;
    --grey: #dfdcdc;
    --purple: #8e44ad;
    --green: #2ecc71;
    --white: #fff;
  }
  
  @media (max-width: 700px){
    
  }
  

  
  
/* --------------------------------------------------------- */
/*                      Responsive CSS                       */
/* --------------------------------------------------------- */
/* button atas */
.add-menu{
  margin-top: 130px !important;
}
.add-menu .dua-button .btn{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 39px;
  border-radius: 7px;
  color: #FFF;

font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


/* card */
.grafik{
    margin-top: -100px;
  }
  @media (max-width: 1200px){
    .grafik{
      margin-top: 100px !important;
    }
  }
  
.grafik .kartu-grafik .card-body {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  justify-content: space-evenly;
  align-items: center;  
  }

  
  .grafik .kartu-grafik .card .card-body .card-jumlah{
    font-size: 14px;
    color: var(--navy);


  }
  .grafik .kartu-grafik .card .card-body .card-menu{
    font-size: 14px;
    color:black;

 

  }


.Data_Tables h2{
  color: #000;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

  @media (max-width: 10000px){
    .grafik{
      margin-top: 20px !important;
    }
  }
  

  